/* خطوط غوغل
font-family: 'Ravi Prakash', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Play', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Cairo', sans-serif;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Lateef', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand','Cairo', sans-serif;
}

html,body{
    height: 100%;
}

.my-team{
    display: inline-block;
}

.survey{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #353535;
    position: fixed;
    color:white;
    cursor: pointer;
}
.loading-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top:0;
    left:0;
    background-image: url('../img/bg.jpg');
    background-size: cover;
}
.survey>.container{
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}
.survey>.container>.row>h1{
    text-align: center;
    border-bottom: 3px solid white;
    margin: 0 auto;
    width: 450px;
    padding:20px;
}
.survey>.container>.row>.selectmiddle{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    margin: auto;
    width: 270px;
    height: 50px;
    margin-top:30%;
}
.survey>.container>.row>.selectmiddle>h4{
    box-sizing: content-box;
    display: inline-block;
    margin: -3px 0px;
    margin-bottom: 5px;
    background: white;
    color:black;
    padding:10px;
    float: left;
}
.selectize-input{
    float: left;
   background: none !important;
    border:none !important;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid white !important;
    color:white !important;
}

.selectsearch{
    display: inline-block;
    background: none !important;
    color:white !important;
    border: 0 !important;
}
.whole-site{
    padding-bottom: 20px;
    position: relative;
    height: 100%;
    width: 100%;
}
.whole-site>.bg-team{
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.jpg');
    background-attachment: scroll;
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
    filter: blur(3px);
    transition: all ease 0.5s;
    z-index: -2;
}
.whole-site>div{
    position: relative;
    height: 100%;
}
.whole-site>div>div{
    margin:0 !important;
}
.whole-site>div>.bg-team{
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.jpg');
    background-attachment: scroll;
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
    transition: all ease 0.5s;
    z-index: -1;
}
.whole-site>div>.navbaro>div>img{
    width: 120px;
    position: absolute;
    top:-35px;
    left: 45px;
    transform: rotate(180deg);
}
.navbaro{
    background: #19b090;
    color:white;
    overflow: hidden;
    height: 45px;
}
.navbaro div{
    position: relative;
    margin:0 !important;
    padding:0 !important;
    direction: rtl;
    float: right;
}
.navbaro ul{
    margin:0 !important;
    padding:0 !important;
}
.navbaro ul li{
    font-size: 18px;
    display: inline-block;
    height: 45px;
    padding:12px;
    margin-left: 7px;
    transition: all ease 0.3s;
    cursor: pointer;
    
}
.navbaro ul li:hover{
    background: white;
    color:#19b090;
}

.navbaro>div:nth-child(1)>ul>li:nth-child(2){
    
}

.navbaro>div>ul>li:nth-child(4){
    border:none;
}
.navbaro>div:nth-child(4)>ul{
    float: right;
   
}
.navbaro>div:nth-child(4)>ul>li{
    margin-right: 10px;
}
.navbaro>div>ul>li>i{
    margin:0;
    padding:0;
}


/*********************/
.cont-body,.cont-show{
    width:100%;
    
}
.cont-body>div{
    width:70%;
    margin: 80px auto;
    border: 4px solid #19b090;
    background: rgba(255, 255, 255, 0.8);
    
}
.cont-show>div:nth-child(1){
    width:70%;
    margin: 80px auto 0 auto;
    background: rgba(255, 255, 255, 0.8); 
}
.cont-show>div:nth-child(2){
    width:70%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8); 
}
.cont-body>div>ul:nth-child(1){
    height: 30px;
    margin-bottom: 80px;
    margin-top: 10px;
}
.cont-body>div>ul:nth-child(1)>a>li{
    font-size: 22px;
    padding:10px;
    float: left;
    text-align: center;
    cursor: pointer;
    list-style: none;
    width: calc(100% / 3);
    border-right: 1px solid #19b090;
    color:#353535;
}

.cont-body>div>ul:nth-child(1)>a.active>li>span{
    border-bottom: 2px solid #19b090;
    padding:8px;
    
}

.cont-body>div>ul:nth-child(1)>a:nth-child(3)>li{
    border: none;
}
.cont-body>div>.matches-to-be-added>.matchs-new{
    border: 1px solid #19b090;
    width:95%;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 80px;
    background: #042851;
    color:white;
    border-radius: 100px;
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>div{
    width: 100%;
    padding:10px;
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>div>div{
     position: relative;
        
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>div>div>h4{
    display: inline-block;
    font-weight: bolder;
    color: lightblue;
    position: relative;
    margin-top: -60px;
    vertical-align: middle;
  
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>div>div:nth-child(2){
    padding-top: 40px;
    
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>div>div:nth-child(2)>h4{
    background: #14998b;
    border-radius: 7px;
    color:white;
    padding:9px;
    margin: auto;
   
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>div>div>div{
    width:80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    overflow: hidden;
    display: inline-block;
    
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>div>div>div>img{
    width:100%;
   
    
}

.cont-body>div>.matches-to-be-added>.matchs-new>div>ul{
    height:70px;
    margin:0;
    margin-top: 10px;
    
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>ul>a{
    color:white;
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>ul>a>li{
    font-size: 22px;
    float: left;
    text-align: center;
    color:#353535;
    cursor: pointer;
    list-style: none;
    width: calc(100% / 3);
    border-right: 1px solid #19b090;
    height: 100%;
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>ul>a>li>span,.cont-body>div>.matches-to-be-added>.matchs-new>div>ul>a>li>h5{
    color:white;
}
.cont-body>div>.matches-to-be-added>.matchs-new>div>ul>a:nth-child(3)>li{
    border: none;
}

.line>div:nth-child(1){
    background: #14998b;
    height: 5px;
}
.line>div:nth-child(2){
    background: #042851;
    height: 5px;
}


.logoz{
    padding-top: 20px;
    height: 150px;
}
.logoz>div>.row>div:nth-child(1){
    background: #042851;
    padding:5px;
    text-align: center;
    color:white;
}
.logoz>div>.row>div:nth-child(2){
    background: #19b090;
    padding:5px;
    text-align: center;
    color:white;
}
.logoz div img{
    width: 230px;
    float: right;
}
.lang>div{
    margin: 0;
    padding: 0;
}
.lang>div>ul{
    margin: 0;
    padding:0;
}
.lang>div>ul>a{
    color:white;
    cursor: pointer;
}
.lang>div>ul>a>li{
    padding:5px;
    float: left;
    display: inline-block;
    background: #14998b;
    transition: all ease 0.3s;
}
.lang>div>ul>a:nth-child(2)>li{
    background: #042851;
}
.lang>div>ul>a>li:hover{
    background: white;
    color:#353535;
}



.login-form{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}
.login-form>div{
    position: relative;
    width: 500px;
    height: 800px;
    text-align: center;
}
.login-form>div>form{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 400px;
    height: 280px;
    background: rgba(0, 0, 0, 0.4);
    padding-top:40px;
    
}
.login-form>div>form>h2{
    color:white;
    margin-bottom: 20px;
}
.login-form>div>form>input{
    color:white;
    direction: rtl;
    background: none;
    border:none;
    border-bottom: 1.5px white solid;
    padding :5px; 
    margin-bottom: 20px;
    outline: none;
    transition: all ease 0.4s
    
}
.login-form>div>form>input:focus{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px white solid;
}
.login-form>div>form>input::placeholder{
    color:white;
    font-size: 15px;
}
.login-form>div>form>button{
    padding:10px;
    background: none;
    color:white;
    border: none;
    outline: none;
    border: 1px white solid
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #444 !important;
    
}
.cont-show>div:nth-child(1)>div{
    padding:7px;
    color:white;
}
.cont-show>div:nth-child(1)>div:nth-child(odd){
    background: #14998b;
    
}
.cont-show>div:nth-child(1)>div:nth-child(even){
    background: #042851;
    
}
.cont-show>div:nth-child(2){
    padding:12px;
    border-bottom: 4px solid #19b090;
    border-left: 4px solid #19b090;
    border-right: 4px solid #19b090;
}
.cont-show>div:nth-child(2)>div:nth-child(1)>img{
    width: 100px;
}
.cont-show>div:nth-child(2)>div:nth-child(1)>h4{
    display: inline-block;
    font-size: 35px;
    font-weight: bolder;
}
.cont-show>div:nth-child(2)>div:nth-child(2){
    margin-top: 12px;
    text-align: right;
    border-right: 2px solid #19b090;
}
.cont-show>div:nth-child(2)>div:nth-child(2)>h4:nth-child(1){
    font-size: 25px;
}
.cont-show>div:nth-child(2)>div:nth-child(2)>h4:nth-child(2)>span{
    font-size: 22px;
    font-weight: bolder;
}
.cont-show>div:nth-child(2)>div:nth-child(3){
    margin-top:20px;
    background: #19b090;
    color:white;
    text-align: center;
    font-size: 35px;
    padding:12px;
}
/****START******** CONTROL PANEL *******/
.adminpanel{
    position: relative;
    top: 0;
    height: 100vh;
    direction: rtl;
}
.adminpanel:after{
    display: table;
    clear: both;
    content: "";
}
.mainbar{
    
    
    background: #EEEEEE;
    position: relative;
    padding:0;
    float:left;
    width: calc(100% - 275px);
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    
}
.mainbar .mainbarcontainer{
    margin: 0 auto;
    width: calc(100% - 100px);
}
.mainbar>.mainbarcontainer>.row>form>div:nth-child(1){
    width: 270px;
    clear: both;
}
.mainbar>.mainbarcontainer>.row>form>div:nth-child(1):after{
    clear: both;
    content: "";
    display: table;
}
.mainbar>.mainbarcontainer>.row>form>div>span{
    float: left;
    position: relative;
    
}
.mainbar>.mainbarcontainer>.row>form>div>span>i{
    position: absolute;
    width: 90px;
    height: 90px;
    font-size: 40px;
    line-height:1.8;
    top:-40px;
    text-align: center;
    background:linear-gradient(60deg, #f19b00, #f19b00);
    color:white;
    padding:10px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);

}
.mainbar .mainbarcontainer .row form div h2{
    float: right;
    color:#3C4858;
}
.mainbar .mainbarcontainer .row form{
    border-radius: 5px;
    margin-top: 70px;
    background: white;
    padding:15px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 150px;
    position: relative;
    
}
.mainbar .mainbarcontainer .row form select{
     border: none;
    border-bottom: 1px solid #cecccc;
    padding:5px;
    width: 200px;
    font-size: 15px;
    margin-bottom: 8px;
    transition: all ease 0.4s;
    cursor: pointer;
}
.mainbar>.mainbarcontainer>.row>form>a{
    background: #505b5d;
    text-decoration: none;
    color:white;
    padding:8px;
    border-radius: 4px;
    font-size: 10px;
}
.mainbar>.mainbarcontainer>.row>form>span{
    background: #d85050;
    text-decoration: none;
    color:white;
    padding:8px;
    border-radius: 4px;
    font-size: 10px;
}
.mainbar .mainbarcontainer .row form input{
    border: none;
    border-bottom: 1px solid #cecccc;
    padding:5px;
    width: 200px;
    font-size: 15px;
    margin-bottom: 8px;
    transition: all ease 0.4s;
    
}
.mainbar .mainbarcontainer .row form input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #523;
    
}
.mainbar .mainbarcontainer .row form button{
    background:linear-gradient(60deg, #f19b00, #f19b00);
    color:white;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
    border: none;
    outline: none;
    border-radius: 4px;
    padding:20px;
    font-size: 23px;
    position: absolute;
    left: 20px;
    bottom:-30px;
}


.sidebar{
    
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    width: 275px;
    height: 100%;
    
}
.sidebar>div:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 275px;
    height: 100%;
    z-index: -1;
}
.sidebar>div:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    width: 275px;
    height: 100%;
    background: rgba(0, 0, 0,0.7);
    z-index:-1;
}
.sidebar>div:nth-child(3){
    width: 100%;
    height: 100%;
    z-index: 120;
    padding:15px;
    text-align: center;
    overflow: hidden;
}
.sidebar>div:nth-child(3)>div{
    height: 100%;
    width: 120%;
    overflow-y: scroll;
    
    
}
.sidebar>div:nth-child(3)>div>h2{
    margin-top: 60px;
    color:white;
}
.sidebar>div:nth-child(3)>div>img{
    width: 200px;
    border-top: 0.5px white solid;
    border-bottom: 0.5px white solid;
    padding: 15px 0;
    background: white;
    margin-bottom: 30px;
}
.sidebar>div:nth-child(3)>div>ul{
    padding:8pxl;
    margin-right:  50px;
}
.sidebar>div:nth-child(3)>div>ul>a>li{
    text-align: right;
    padding:10px;
    list-style: none;
    transition: all ease 0.4s;
    border-radius: 5px;
    margin-bottom: 5px;
}
.sidebar>div:nth-child(3)>div>ul>a{
    color:white;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
    text-decoration: none;
   
}
.sidebar>div:nth-child(3)>div>ul>a>li>i{
    color:white;
    width:25px;
    height:25px;
    font-size: 18px;
    margin: 0px 9px;
    float: right;
}
.sidebar>div:nth-child(3)>div>ul>a>li>i>img{
    width: 25px;
    height: 25px;
}
.sidebar>div:nth-child(3)>div>ul>li:nth-child(1){
    background: #f19b00;
    
}
.sidebar>div:nth-child(3)>div>ul>li:hover{
    background: rgba(200, 200, 200, 0.2);
    border-radius: 5px;
}

/****END******** CONTROL PANEL *******/